In [3]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('iris.data.csv')

# Display the first few rows of the dataset
df.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [4]:
# Min-max normalization
normalized_data = (df - df.min()) / (df.max() - df.min())

# Display the normalized data
normalized_data.head()

        5.1       3.5       1.4       0.2
0  0.166667  0.416667  0.067797  0.041667
1  0.111111  0.500000  0.050847  0.041667
2  0.083333  0.458333  0.084746  0.041667
3  0.194444  0.666667  0.067797  0.041667
4  0.305556  0.791667  0.118644  0.125000